In [4]:
# read excel data
import pandas as pd
import numpy as np
pd.read_excel("C://Users/Ider.E/Desktop/PythonCourse/Lecture 2/repo2/week2/data.xlsx")

,id,firstName,lastName,citizenId,age,yearsInCompany,salary,gender,startDate
0,1,Suren,Itgel,SU03,18,0.5,1.50,F,2020-05-13
1,2,Chimeg,Baldan,BH98,23,2.0,1.70,F,2011-07-12
2,3,Gerel,Tsog,DA86,35,4.0,1.90,F,2017-06-14
3,4,Kherlen,Sukh,BU79,42,2.0,1.60,F,2019-11-15
4,5,Badral,Damchaa,ER89,32,8.0,2.30,M,2013-01-25
5,6,Dondog,Uuree,DO96,25,3.0,2.10,M,2018-03-04
6,7,Dash,Byamba,UB92,29,4.0,1.79,M,2017-05-27
7,8,Bat,Bayar,UB02,19,6.0,2.40,M,2015-07-17
8,9,Saran,Tuvshin,DU97,24,2.0,1.30,F,2019-08-04
9,10,Naran,Saikhan,AR91,30,1.0,1.50,M,2020-07-01

In [5]:
df = pd.read_excel("C://Users/Ider.E/Desktop/PythonCourse/Lecture 2/repo2/week2/data.xlsx")

In [6]:
df

,id,firstName,lastName,citizenId,age,yearsInCompany,salary,gender,startDate
0,1,Suren,Itgel,SU03,18,0.5,1.50,F,2020-05-13
1,2,Chimeg,Baldan,BH98,23,2.0,1.70,F,2011-07-12
2,3,Gerel,Tsog,DA86,35,4.0,1.90,F,2017-06-14
3,4,Kherlen,Sukh,BU79,42,2.0,1.60,F,2019-11-15
4,5,Badral,Damchaa,ER89,32,8.0,2.30,M,2013-01-25
5,6,Dondog,Uuree,DO96,25,3.0,2.10,M,2018-03-04
6,7,Dash,Byamba,UB92,29,4.0,1.79,M,2017-05-27
7,8,Bat,Bayar,UB02,19,6.0,2.40,M,2015-07-17
8,9,Saran,Tuvshin,DU97,24,2.0,1.30,F,2019-08-04
9,10,Naran,Saikhan,AR91,30,1.0,1.50,M,2020-07-01

In [14]:
# If

my_number = 9
if my_number > 1 and my_number < 10:
    print('Hello')

In [27]:
my_number = 20
if my_number == 5:
    print ("The humber is 5")
elif my_number == 20:
    print('The number is 20')
elif my_number == 10:
    print('The number is 20')
else:
    print('The number is not 5, 10, 20')

The number is 20

In [44]:
my_number = 25
if np.mod(my_number,5) == 0:
    if my_number >1 and my_number <10:
        print("divisible by 5 and between 1 and 10")
    else:
        print("Divisible by 5 and not between 1 and 10")
else:
    print("the number is not divisible by 5")

Divisible by 5 and not between 1 and 10

In [46]:
np.mod(25,5) == 5

False

In [47]:
# loop

for i in range(5):
    print(i)

0
1
2
3
4

In [48]:
mylist = ('bat', 'Gerel', 'Bold')
for name in mylist:
    print(name)

bat
Gerel
Bold

In [57]:
for i in range(16):
    if i <10:
        if np.mod(i,2) == 0:
            print(i)
        else:
            print(i*2)
    else:
        break # zogsoh

0
2
2
6
4
10
6
14
8
18

In [64]:
if i in range(15):
    if (i > 8) & (i < 12):
        if np.mod(i,2) == 0:
            print(i)
        else:
            print(i+1)
    else:
        Continue #daraagiin loopruu shiljih

10

In [80]:
for i in range(15):
    if i > 10:
        print(i)
    else:
        continue

11
12
13
14

In [82]:
for i in range(15):
    if i > 10:
        pass # yu hiihee medku bol pass gej bicheed code will run
    else:
        continue

In [86]:
for i in range(15):
    if (i<5) | (i>12):  # or-g "|" gej temdeglene
        print(i)
    else:
        continue

0
1
2
3
4
13
14

In [99]:
mylist = [1,2,3, 'ider', 6,6, "sugar"]
for item in mylist:
    if isinstance(item, str): #isinstance ni item-g str or int bgag shalgana
        print(item)
for item in mylist:
    if isinstance(item, int):
        print(item)        

short_list = [1,2,5]

if i in range(10):
    if i in short_list:
        Print(i)

for item in mylist:
    if type(item) == int:
        print(item)

ider
sugar
1
2
3
6
6
1
2
3
6
6